/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #430505;
    color: black;
    padding: 15px 20px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #ffffff;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    text-align: center;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    display: block;
}

.menu ul li a:hover {
    background: #3e0404;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.menu.active {
    display: flex;
}

@media (min-width: 768px) {
    .menu {
        display: flex;
        position: static;
        flex-direction: row;
        width: auto;
        background: none;
    }

    .menu ul {
        display: flex;
    }

    .menu ul li {
        padding: 0;
    }

    .menu ul li a {
        padding: 10px 20px;
    }

    .menu-toggle {
        display: none;
    }
}

section {
    background-color: #fffffb;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.76);
}

img {
    width: 480px;
    height: 480px;
}

.album {
    margin-bottom: 30px;
}

/* Imagen interactiva */
.interactive-image {
    text-align: center;
}

.interactive-image button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #430505;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 8px;
}

.interactive-image button:hover {
    background-color: #6a0e0e;
}
